// General file of elements of forms
// for connecting/disabling styles of a particular element of the form, see base/forms/forms.scss
@import "base/forms/forms";

// Popups styles
// @import "base/popup";

// Styles of spoilers
// @import "base/spollers";

// Styles of Tabs
// @import "base/tabs";

// Styles of cards
// @import "base/maps";

// Styles of the block "Show more"
// @import "base/showmore";

// Styles for the sticky block
// @import "base/sticky";

// Styles for a full -screen block
// @import "base/fullscreen";

// Styles for sweaty scrolling
// Styles for fullpage scroll
// @import "base/fullpage";

// styles for responsive pictures(IBG)
// Snippet (HTML): ibg (div with a picture and classes)
// Snippet (HTML): ibga (a with a picture and classes)
[class*="-ibg"] {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
[class*="-ibg_contain"] {
	img {
		object-fit: contain;
	}
}

// templates (blanks)
// @extend % The name of the template;
// Snippet (SCSS): ex

// The counter for the list
%listCounter {
	list-style-type: none;
	counter-reset: item;
	li {
		position: relative;
		&:before {
			counter-increment: item;
			content: counter(item);
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}
// Adaptive video
%responsiveVideo {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 56.25%;
	video,
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
// Video as a background
%videoBackground {
	video,
	iframe,
	object,
	embed {
		position: fixed;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		transform: translateX(-50%) translateY(-50%);
		background-size: cover;
	}
}
// Gray filter
%grayfilter {
	transition: all 0.3s ease 0s;
	filter: grayscale(1);
	@media (any-hover: hover) {
		&:hover {
			filter: grayscale(0);
		}
	}
}
// Cancel the selection
%noselect {
	user-select: none;
}
// Mirror reflection
%mirror {
	transform: scale(-1, 1);
}
// Smooth scroll
%smoothscroll {
	-webkit-overflow-scrolling: touch;
}
// Hide scroll
%hidescroll {
	&::-webkit-scrollbar {
		display: none;
	}
}
