// Headlines, common BEM blocks and ease ...
.page{
	padding: 0px 0px 0px 0px;
	flex: 1 1 auto;
	@media (max-width:$pc){
		padding: 0px 0px 0px 0px; 
	}
}
.main-screen{
	flex: 1 0 100%;
	&__image {
		// position: relative; 
		img{
			min-height: 100%;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
	&__column{
		position: absolute;
		top: 250px;
		width:100%;
		height: 350px;
	}
	&__container{
		&__block {
			min-height: 350px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			.btn {
				color: #ED4C5C;
				background-color: #FFFFFF;
				border: 1px solid #FFFFFF;
				width: 160px;
				height: 50px;
				border-radius: 6px;
				font-weight: 600;
			}
		}
	}
	
}
.block {
		&__title {
			color: #FFFFFF;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 72px;
		}
		&__description {
			color: #FFFFFF;
			font-size: 24px;
			font-weight:500;
			line-height: 36px;
			text-align: center;
		}
		&__button {
			color: #FFFFFF;
			font-size: 24px;
			text-transform: uppercase;;
		}
}
