// Headlines, common BEM blocks and ease ...
.page{
	padding: 0px 0px 0px 0px;
	@media (max-width:$pc){
		padding: 0px 0px 0px 0px; 
	}
}
.main-screen {
	&__image {
		position: relative;
		height: 100vh;
		width: 100vw;
		img {
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
	&__column{
		position: absolute;
		top:35vh;
		width:100%;
		height: 350px;
	}
	&__container{
		.block {
			min-height: 350px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			.btn {
				color: #ED4C5C;
				background-color: #FFFFFF;
				border: 1px solid #FFFFFF;
				width: 160px;
				height: 50px;
				border-radius: 6px;
				font-weight: 600;
			}
		}
	}
}
.block {
		&__title {
			color: #FFFFFF;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 72px;
			@media(max-width:$mobile){
				font-size: 2.8rem;
			}
		}
		&__description {
			color: #FFFFFF;
			font-size: 24px;
			font-weight:500;
			line-height: 36px;
			text-align: center;
			@media(max-width:$mobile){
				font-size: 1.5rem;
			}
		}
		&__button {
			color: #FFFFFF;
			font-size: 24px;
			text-transform: uppercase;;
		}
}
