//====================================================================================================
.header {
	position:absolute;
	width: 100%;
	z-index: 50;
	top:55px;
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__menu {
	}
	&__logo {
		@media(max-width:$mobile){
			display: none;
		}
	}
	.btn {
		color: #FFFFFF;
		border: 1px solid #FFFFFF;
		width: 100px;
		height: 40px;
		border-radius: 6px;
		@media(max-width:$mobile){
			// display: none;
		}
	}
}
.menu {
	&__icon {
	}
	&__body {
		@media(max-width: $mobile){
			transform: translate(0px, -100%);
			transition: transform 0.8s ease 0s;
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			overflow: auto;
			padding: 60px 10px 30px 10px;
			background-color: #ED4C5C;
			.menu-open & {
				transform: translate(0px, 0%);
			}
		}
	}
	&__list {
		display: flex;
		li{
			padding:0 10px;
		}
		@media(max-width:$mobile){
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 3rem;
			li{
				padding:1.5rem 1.5rem;
			}
		}
	}
	&__item {
	}
	&__link {
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		display: flex;
		align-items: center;
		text-transform: uppercase;
		color: #FFFFFF;
		@media(max-width:$mobile){
			font-size: 25px;
		}
		
	}
}
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30); 
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #fff;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(0.75));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}