//====================================================================================================
.header {
	position:absolute;
	width: 100%;
	z-index: 50;
	top:55px;
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__menu {
		display: flex;
		align-items: center;
	}
	&__logo {
	}
	.btn {
		color: #FFFFFF;
		border: 1px solid #FFFFFF;
		width: 100px;
		height: 40px;
		border-radius: 6px;
	}
}
.menu {
	&__icon {
	}
	&__body {
	}
	&__list {
		display: flex;
		li{
			padding:0 10px;
		}
	}
	&__item {
	}
	&__link {
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		display: flex;
		align-items: center;
		text-transform: uppercase;
		color: #FFFFFF;
		
	}
}
.icon-menu {
}
