@use "sass:math";

// Connection of myxins ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Connection of fonts ===========================================================================================================================================================================================================================================================================
//&display=swap - Add when connected via plugin
//&subset=cyrillic-ext
@import url(https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap);

// Connect if there are local font files
@import "fonts/fonts";

// Connection of icon fonts ==============================================================================================================================================================================================================================================================================
// Connect if there is an icon font file
@import "fonts/icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Settings template ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Default font ==============================================================================================================================================================================================================================================================================
$fontFamily: "Lato";
$fontSize: rem(16); // where 14(px) - default font size from the layout

// Primary colors
$mainColor: #000000; // Default font color

// Adaptive grid settings ===============================================================================================================================================================================================================================================================================================

// The minimum page width
$minWidth: 320;
// The width of the canvas (layout)
$maxWidth: 1920;
// The width of the limiting container (0 = no restriction)
$maxWidthContainer: 1145;
// General indenter 
// (30 = 15px on the left and right, 0 = there is no retreat)
$containerPadding: 30;

// The width of the operation first breakpoint
$containerWidth: $maxWidthContainer + $containerPadding;

// Breakpoints
$pc: em($containerWidth); // PC, laptops, some tablets in a horizontal position
$tablet: em(991.98); // Tablets, some phones in a horizontal position
$mobile: em(767.98); // Phones l
$mobileSmall: em(479.98); // Phones s

// Adaptation type:
// 1 = responsiveness (the container does not have breikpins),
// 2 = according to breakpoints (the container changes its width according to the Break-Points)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Reset ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Styles tags BODY ============================================================================================================================================================================================================================================================================================================================================================================================

body {
	// Scroll is blocked
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// The site is loaded
	.loaded & {
	}
}

// Wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// press footer
	> main {
		flex: 1 1 auto;
	}
	// Fix for sliders
	> * {
		min-width: 0;
	}
}
// Limiting container ======================================================================================================================================================================================================================

/*
(i) Styles will be applied to
all classes containing *__ container
Example header__container, main__container etc.
Snippet (HTML): cnt
*/
@if ($responsiveType==1) {
	// Responsive
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			padding: 0 rem(math.div($containerPadding, 2));
		}
	}
} @else {
	// According to breakpoints
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
		} @else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: rem(970);
		}
		@media (max-width: $tablet) {
			max-width: rem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}


// Connecting basic styles, templates (blanks) and auxiliary classes
// For connection/disconnecting specific styles, see base.scss
@import "base";

// Connecting styles of general project elements
@import "common";

// Connecting styles of individual blocks
@import "header";
@import "footer";

// Connecting styles of individual pages
@import "home";
